/*general styles and normalize*/

html,
* {
  margin: 0;
  padding: 0;
  font: normal normal 30px/36px 'Architects Daughter';
  color: rgba(39, 19, 1, 0.553);
}

a {
  text-decoration: none;
  color: rgba(190, 97, 10, 0.553);
  cursor: pointer;
}

/*parent grid-container styles*/
.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh 1fr 25vh;
  grid-template-areas:
        "header header header"
        "main main aside"
        "footer footer footer";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.articles-container {
  display: grid;
  height: 50%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
        "section-1 section-2"
        "section-3 section-3";
}

.section-1 {
  grid-area: section-1;
}

.section-2 {
  grid-area: section-2;
}

.section-3 {
  grid-area: section-3;
}